.box{
    position: relative;
    z-index: 200;
    width: 200px;
    height: 200px;
    border: 1px solid #ffc300;
    background-color: transparent;
    background-image:  linear-gradient(hsl(300, 100%, 92%) 1px, transparent 1px), linear-gradient(to right, hsl(300, 100%, 92%) 1px, hsl(240, 53%, 93%, .1) 1px);
    background-size: 20px 20px;
}

.box:hover{
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0%{
        transform:  scale(1);
      }
      30%{
        transform:  scale(1.25);
      }
      40%{
        transform:  scale(0.75);
      }
      50%{
        transform:  scale(1.15);
      }
      65%{
        transform:  scale(0.95);
      }
      75% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
}